@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Work+Sans:ital,wght@0,400;0,600;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#chart {
    position: relative;
}

.domain {
    display: none;
}

.tick text {
    font-size: 10px;
    text-transform: uppercase;
}

// TOOLTIP

.tooltip {
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #333;
    display: block;
    width: 300px;
    padding: 1em;
    position: absolute;
    z-index: 300;
    visibility: hidden;
}

.tooltip table {
    text-align: left;
}

.tooltip th {
    width: 100px;
    color: #333;
}

.tooltip th, td {
    padding: 0.5em;
    color: #666;
    vertical-align: top;
}

.tooltip img {
    width: 100%;
    min-width: 200px;
    display:block;
}

.tooltip[pos="bottom"] {
    transform: translateY(-110%);
}

.tooltip .article {
    position: relative;
    margin-top: 1em;
}

.tooltip .article a {
    color: #fff;
    text-decoration: none;
}

.tooltip .article h4 {
    font-size: 1em;
    position: absolute;
    transform: translateY(-50%);
    bottom: 0;
    text-align: center;
    padding: 1em;
}

.tooltip .close_popup {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
}

.tooltip .close_popup svg {
    width: 15px;
}

.tooltip .carousel_container {
    position: relative;
    height: 150px;
}

.tooltip .item_articles {
    height: 150px;
    width: 300px;
}

.tooltip .item_articles .slide {
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 150px;
    position: relative;
}

.tooltip .article_details {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em 0;
    line-height: 1.2em;
    background: rgba(0,0,0,0.5);
}

.tooltip .item_articles .article_details a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4em;
}

.tooltip .item_articles .article_details span {
    color: #fff;
}

.tooltip .carousel_container .carousel_navs {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.tooltip .carousel_container .carousel_navs.next {
    right: 0;
    left: unset;
}
.tooltip table th {
    width: 15px;
}

.tooltip table th div{
    width: 15px;
    height: 15px;
}

.chart_legend {
    margin-top: 2em;
    width: 720px;
}

.chart_legend div {
    padding: 0.2em;
    color: #333;
}

// CONTROLS

.chart_controls {
    margin-top: 1em;
}

.chart_controls input {
    position: relative;
    top: 2px;
}